html {
  font-size: 625%;
}

@media only screen and (min-width: 310px) {
  html {
    font-size: 533%!important
  }
  @media screen and (min-width: 359px) and (max-width:374px) {
    html {
      font-size: 600%!important
    }
  }
  @media screen and (min-width: 375px) and (max-width:413px) {
    html {
      font-size: 625%!important
    }
  }
  @media screen and (min-width: 414px) {
    html {
      font-size: 690%!important
    }
  }
}
